* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;       /* Centraliza os itens horizontalmente */
    align-items: center;           /* Alinha os itens verticalmente no centro */
    padding: 20px;
    background-color: #666;     /* Cor de fundo escuro */
    color: white;                  /* Cor do texto */
    position: relative;            /* Para garantir que os links fiquem à direita */
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #666;
}

/* Responsividade com media queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    main {
        grid-template-columns: 1fr;
    }
}

/* Adicionar estilos personalizados para imagens */
img {
    max-width: 100%; /* A imagem nunca será maior que o container */
    height: auto;    /* Mantém a proporção da imagem */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    margin-top: 20px;
}

/* Alunos: podem adicionar estilos adicionais conforme necessário */

/* Estilos para o dark mode */
.dark-mode {
    background-color: #333;
    color: white;
}

/* Estilos para o botão de dark mode e para o botao modal*/
#darkModeButton , #botao-modal {
    width: 200px;
    margin: 10px 0;
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
}

/* Estilos para o conteudo do botao modal */
.modal-content {
    background-color: #ffffff;
    color: #000000;
}

/* Estilos para a div das funcionalidades */
#funcionalidades {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
   